html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #111222 !important;
}

.active{
    color: #CC226A !important;
}

.nav-link:hover{
    color: #CC226A;
}

.header{
    border-radius: 15px !important; 
    margin: 1em auto;
}

.header h1, .header h2{
    font-size: 20px;
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.header p{
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
}